node_modules
*.sublime-workspace
*.local.*
*.local
*.cache.*
.env

frontend/.vitepress/cache
frontend/.vitepress/dist

# generated sql query code
queries
!common/**/queries
!rulesets/**/queries
queries.ts

# Added by cargo

/target
